<footer class="footer">
    <div class="footer_container">
      <section class="logo footer_components">
        <a href="home" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
          <img src="/assets/SurfSharing_logo.png" alt="SurfSharing_Logo">
        </a>
      </section>
      <nav class="links footer_components">
        <a href="about-us" routerLink="/about-us" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a>
        <a href="terms-of-use" routerLink="/terms-of-use" routerLinkActive="active" ariaCurrentWhenActive="page">Terms Of Use</a>
      </nav>
      <section class="socialMediaLogo footer_components">
        <img src="/assets/social_media_icons/icons8-youtube.svg" alt="YouTube_logo">
        <img src="/assets/social_media_icons/icons8-instagram.svg" alt="Instagram_logo">
        <img src="/assets/social_media_icons/icons8-twitter.svg" alt="Twitter_logo">
        <img src="/assets/social_media_icons/icons8-facebook.svg" alt="Facebook_logo">
        
      </section>
      <p class="copyright">&copy; ULPGC 2023</p>
    </div>
  </footer>