<section class="create-course-form">
    <h1>Add Your Offer!</h1>
    <form (submit)="addOffer()">
      <div class="form-group">
        <input type="number" class="form-control" placeholder="Price" name="offerPrice" [(ngModel)]="offerPrice" required="required">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Offer Title" name="offerTitle" [(ngModel)]="offerTitle" required="required">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Offer Description" name="offerDescription" [(ngModel)]="offerDescription">
      </div>
      <app-book-offer></app-book-offer>
      <app-image-upload-form class="upload-form" (pictureChanged)="updateOfferInformation()"></app-image-upload-form>
      <button type="submit">+ Add Offer</button>
    </form>
  </section>
