<section class="create-course-form">
    <h1>Add Your Offer!</h1>
    <form action="#">
      <div class="form-group">
        <input type="number" class="form-control" placeholder="Price" required="required">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Offer Title" required="required">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Offer Description">
      </div>
        <button>+ Add Offer</button>
    </form>
  </section>