<article class="about-us">
    <h1>About Us</h1>
    <h2>Contact Us</h2>
    <section class="contact-info">
        <div>
            Created by
        </div>
        <div>
            Alexander, Din, Aitana, Romen, Karl for 
        </div>
        <div>
            eMail:
        </div>
        <div>
            info@surfsharing.de
        </div>
        <div>
            Address:
        </div>
        <div>
            <Address>
                SurfSharingName<br>
                SurfSharingStreet 1<br>
                11111 SurfSharingCity<br>
            </Address>
        </div>
    </section>
</article>