<article class="browse-courses">
    <div>
      <h1>Browse Offers</h1>
      <!-- Future feature
      <form>
        <input type="text" value="Search">
      </form>
        <input list="filter-types" name="myBrowser" />
        <datalist id="filter-types">
          <option value="Name">
          <option value="Date">
          <option value="Popularity">
        </datalist>
      -->
    </div>
    <section class="card-container" *ngFor="let content of contentData">
  
      <a [routerLink]="['/course-details', content.id]" routerLinkActive="active" ariaCurrentWhenActive="page" class="card">
        <div class="inner-box">
          <img class="picture" src={{content.imageURL}} alt="productPicture" width="180" height="140">
        </div>
        <div class="details">
          <div class="title">
              {{content.title}}
          </div>
          <div class="price">
              {{content.pricePH}} €/h
          </div>
        </div>
      </a>
    </section>
  </article>