<div class="dowPicker">
    <div class="dowPickerOption">
        <input type="checkbox" id="dow2">
        <label for="dow2">M</label>
    </div>
    <div class="dowPickerOption">
        <input type="checkbox" id="dow3">
        <label for="dow3">T</label>
    </div>
    <div class="dowPickerOption">
        <input type="checkbox" id="dow4">
        <label for="dow4">W</label>
    </div>
    <div class="dowPickerOption">
        <input type="checkbox" id="dow5">
        <label for="dow5">T</label>
    </div>
    <div class="dowPickerOption">
        <input type="checkbox" id="dow6">
        <label for="dow6">F</label>
    </div>
    <div class="dowPickerOption">
        <input type="checkbox" id="dow7">
        <label for="dow7">S</label>
    </div>
    <div class="dowPickerOption">
        <input type="checkbox" id="dow1">
        <label for="dow1">S</label>
    </div>
</div>