<div class="signup-form">
    <h2>Welcome !</h2>
    <form #loginForm="ngForm" (submit)="onSubmit()">
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email" name="email"  pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" required>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password"  name="password" required>
      </div>
      <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.form. valid">Login</button>
      </div>
      <p>{{ message }}</p>
      <section class="form-group text-center">
        <a href="forgot-password" routerLink="/forgot-password" routerLinkActive="active" ariaCurrentWhenActive="page">Forgot Password?</a>
        <a href="create-account" routerLink="/create-account" routerLinkActive="active" ariaCurrentWhenActive="page">Don't have an Account yet?</a>
      </section>
    </form>
  </div>
