* {
    margin-top: 4%;
    padding-top: 2.5%;
  }

  body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }

  .forgot-password {
    width: auto;
    max-width: 360px;
    margin: 50px auto;
    font-size: 15px;
  }

  .forgot-password h2 {
    margin-bottom: 7%;
    margin-top: 15%;
    text-align: center;
  }

  .forgot-password form {
    border-radius: 10px;
    background-color: #BCEEF0;;
    padding: 40px 30px;
  }

  .forgot-password .form-group {
    margin-bottom: 20px;

  }

  .forgot-password .form-control {
    border-radius: 25px;
    padding: 10px;
    background-color: #fff;
    border: none;
    margin-right: 12%;
    margin-left: 12%;
  }

  .forgot-password .btn {
    border-radius: 25px;
    font-size: 12px;
    font-weight: bold;
    background-color: #12879B;
    border: none;
    padding: 10px 20px;
    display: block;
    margin: 18% auto;
  }

  .forgot-password .btn:hover {
    background-color: #BCEEF0;
  }

  .forgot-password a {
    display: block;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    color: #0066A1;
}
