<article class="forgot-password">
    <h2>Enter Your E-Mail for Reseting your Password</h2>
    <section class="form-container">
      <form action="log-in">
        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="Enter email" required="required">
        </div>
          <button type="submit" class="btn">Send Link to Reset Password</button>
          <a href="log-in" routerLink="/log-in" routerLinkActive="active" ariaCurrentWhenActive="page">Go Back</a>
      </form>
    </section>
  </article>