.my-courses {
    margin: 12px 6%;
    padding: 12px 24px;
}

.card-container {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
}
  
.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    background-color: #D8DCFF;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin: 20px;
}

a {
    text-decoration: none;
    color: black;
}
  
.card:hover {
    transform: scale(1.05); 
      transition: transform 0.25s ease-in-out;
 
  }
  
.inner-box {
    height: 50%;
    background-color: #a7bcda;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
}
  
.description {
    height: 50%;
    background-color: #D8DCFF;
    border-radius: 10px;
    display: flex;
    align-items:normal;
    text-align: left;
    padding: 0px 18px;
}

@media screen and (max-width: 767px) {
    .card-container {
        display: flex;
        justify-content: center;
        align-items: left;
        flex-wrap: wrap;
        gap: 20px;
        padding: 0px;   /* force same visaul bahaviour as in "browse-course"*/
    }
}