<article class="terms-of-use">
    <h1>Terms of Use</h1>
    <section class="terms-of-use-text">
        <ol>
            <li>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Illo quia amet, voluptas dolorum quis praesentium magnam. 
                Nisi, corporis inventore temporibus nobis animi obcaecati 
                distinctio quos? Aliquid placeat voluptas exercitationem perferendis? 
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Quam, animi qui! Possimus quos perspiciatis magnam? 
                Sed, quam sapiente animi illo aut veritatis, 
                fuga veniam facere laudantium debitis consequuntur, saepe libero?
            </li>
            <li>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, natus.
                Doloremque nostrum nisi fugiat ex? 
                Aliquam expedita dolor officiis modi accusantium facere mollitia voluptate,
                similique, iure nostrum, minus sapiente obcaecati! 
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Quidem laboriosam dolores quaerat quasi accusantium quod reprehenderit 
                maiores est quibusdam minima id modi autem, quae nihil! Ducimus nulla dolor 
                vitae beatae!
            </li>
        </ol>
    </section>
</article>
