<article class="my-offers">
    <section class="grid-container" *ngIf="offer">
        <h1>{{ offer.title }}</h1>
        <div class="btns">
            <button (click)="toggleUserOffers()" class="btn1" [ngClass]="toggleMyOffers == 'Log in to add to my Offers' ? 'log-in' : 'normal'">
                {{ toggleMyOffers }}
            </button>        
        </div>
    </section>
    <app-book-offer></app-book-offer>
    <section class="offer-content" *ngIf="offer">
      <div>
        <img class="content" src={{offer.imageURL}} alt="image of surfboard for this offer">
        <p class="content">{{ offer.pricePH }} €/h</p>
        <p class="content">{{ offer.description }}</p>
      </div>
    </section>
</article>
