<article class="hoempage">
    <h1 class="homepage-heading">Welcome Surfer!</h1>
    <section class="rounded-rectangle">
        <img src="../../assets/media/home-banner.png" alt="aurfer on big wave">
        
    </section>
    <section class="usp-container">
        <div id="home-text-h2">
            <h2>Create Offers!</h2>
            <h2>Connect with the Surfer Community!</h2>
            <h2>Book great offers!</h2>
        </div>
        <div class="home-button-container">
            <a class="home-button-sign-in" href="create-account" routerLink="/create-account" routerLinkActive="active" ariaCurrentWhenActive="page">
                <button id="home-button-sign-in">
                    Sign-Up →
                </button>
            </a>
            <a href="browse-offers" routerLink="/browse-offers" routerLinkActive="active" ariaCurrentWhenActive="page">
                <button>
                    Start browsing for offers
                </button>
            </a>
        </div>
    </section>
</article>