<article class="my-area">
    <h1>My Area</h1>
    <section class="my-data">
      <h2>My Data</h2>
        <div class="my-data-content">
          <p>Name: -----</p>
          <p>Date of Birth: -----</p>
          <p>Buddy since: -----</p>
          <p>Number of Evaluations: --</p>
        </div>
    </section>
    <section class="my-offers-box card-container" *ngFor="let offer of offers">
        <h2>My created Offers</h2>
        <div class="my-offers-content">
          <a [routerLink]="['/offer-details', offer.id]" routerLinkActive="active" ariaCurrentWhenActive="page" class="card">
            <div class="inner-box">
              <img class="picture" src={{offer.imageURL}} alt="productPicture" width="180" height="140">
            </div>
            <div class="details">
              <div class="title">
                  {{offer.title}}
              </div>
              <div class="price">
                  {{offer.pricePH}} €/h
              </div>
            </div>
          </a>
        </div>
    </section>
</article>  